ion-content {
  background: linear-gradient(to bottom, #00b09b, #96c93d);
}

h2 {
  color:#426306;
  text-align: center;
}

p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: justify;
  font-size: 12px;
}

ion-item {
  background-color: #1f7679;
}

